body{
	background-color: #CC9966;	
    color: white;
    font-family: Courier New;
	box-shadow: 0 0 1000px 	black; 
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 50px;
	margin-top: 50px;
   
}
header{
	background-color: #996633;
	text-align: center;
}

header img{
	 padding-top: 3%;
    padding-left: 1%;
}
figure{
	
	color: white;
	text-align: center;
}

main{

	margin-bottom: 50px;
	margin-top: 50px;
	margin-left:60px;
	margin-right:60px;
	padding: 20px;
	

}

img:hover{
        opacity: 0.8;
		
    }
img{}

table, th, tr, td {
   border: 1px solid red;
  border-collapse: collapse;
 
}


th, td {
  padding: 3px;
}
table{
	width:100%;
	text-align: center;
	color: white;
	background-color:#DEAEA4;
	font-size: 1em;
}
table a{
	color:green;
}

ul{


}


li{


}
p{

}
p.thick {
    font-weight: bold;
}
footer
{
	bottom:10px;
	background-color: #996633;
	text-align: center;
	padding: 20px;
}

a{
	
	color: blue;
	

}
a:link {
    color: gold;
}


a:visited {
    color: yellow;
}


a:hover {
    color: black;
}


a:active {
    color: blue;
}